/* .colorf {
  background-color: #0c3e11;
  color: black;
Con una clase de esta forma, añadiendo la clase al body en la tabla, 
permanecía la imagen de fondo, solo cambiaba el color de la letra

} */

body {
    text-align: center;
    font-size: 25px;
    color: white;
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Breaking B';
  
     @font-face {
        font-family: 'Breaking B';
        src: url(font/Breaking Bad.ttf);
     }
}

body:not(.color) {
  background-image: none;
  background-color: #0c3e11; 
  color: black;
  /* color de fondo y letra negra solo para la tabla periódica porque he intentado añadir una clase
   y no me toma el color de fondo y con un div se queda una franja alrededor en la que se ve la imagen.
  He buscado y rebuscado porque no ponía el color con el background de ninguna manera
  y he encontrado esta forma extraña que ha funcionado */
}
  
#imagen1 {
        width: 200px;
        height: 200px ;
        border: 3px outset black;
        
        }


#logo {
width: 700px;
height: 300px;
border:10px outset brown;
border-radius: 22px;
}



.imgtablas {
    width: 40px;
    height: 40px;

}

table {
    margin: auto;
    text-align: center;
    font-size: 12px;
    border: 3px;
    border-color: black;
    border-collapse: collapse;
    font-family: Helvetica;
    
     
}

.negro {
    background-color: black;
  }
  
  .verdeAb {
    background-color: #c2c62a;

  }
.amarilloAb {
  background-color: #d5eb70;

}

.gris {
  background-color: #bcc49f;

}

.verde1 {
  background-color: #818d4b;

}

.verde2 {

  background-color: #637126;
}

.verde3 {
  background-color: #c4e349;

}

.verde4 {
  background-color: #828e50;
 
}

.verde5{

  background-color: #b7da28

}

.white {

  background-color: white;
}

.formulariofont {
font-family: Helvetica;
color: white;
font-size: 30px;
}


.formulario {
font-family: Helvetica;
font-size: 12px;
color: white;
width: 500px;
height: 500px;
align: center;
margin: auto;


}

fieldset {
  border: 3px solid black;
  border-color:  white;

}

td {
  border: black 5px solid;
  width: 60px;
  height: 60px;
}

tr {
  border: black 5px solid;
  width: 60px;
  height: 60px;
}